<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>

<table>
	<thead>
		<tr>
			<th>id</th>
			<th>nombre</th>
			<th>descripcion</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="videojuego: ${videojuegos}">
			<td th:text="${producto.id}"></td>
			<td th:text="${producto.nombre}"></td>
			<td th:text="${producto.descripcion}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>